@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .form_container{
        position: relative;
        max-height: 7rem;
        height: 7rem;
        border: 1px solid #aaaa;
        display: flex;
        align-items: center;
        justify-content: start;
    }
}